.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  
  .skill-chip {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
  }
  
  .skill-chip button {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  